<!-- productDetails.handlebars -->

<h2>Detalles del producto</h2>
<p>Nombre: {{ product.nombre }}</p>
<p>Descripción: {{ product.descripcion }}</p>
<p>Precio: {{ product.precio }}</p>

<!-- Aquí puedes agregar el botón "Agregar al carrito" con el enlace adecuado para agregar el producto al carrito -->
