<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Listado de productos</h1>
    <ul>
      {{#each productos}}
        <li>{{nombre}} - {{precio}}</li>
      {{/each}}
    </ul>
  </body>
</html>
