<div>
    
</div>

<script>
  const socket = io();
  socket.on("updateProducts", producto => {
    console.log("Producto creado:", producto);
  });
  socket.on("removeProduct", productId => {
    console.log("Producto eliminado:", productId);
  });
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>